node_modules/
coverage/

# IntelliJ/PyCharm
out/
.idea/
.idea_modules/
*.iws

# Node
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.venv/
env/
venv/
ENV/
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
pip-selfcheck.json

# macOS
.DS_Store
._*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
htmlcov/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
*.log
docs/_build/
target/
__pypackages__/

# Type checking
.mypy_cache/
.dmypy.json
dmypy.json

# AWS CDK
.cdk.staging
cdk.out

*.swp
