---
name: Status Checks

on:
  pull_request:
    types:
      - labeled
      - opened
      - synchronize
      - reopened

permissions:
  contents: read

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    concurrency:
      group: lint-${{ github.workflow }}-${{ github.actor }}-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v4

      - name: Lint
        uses: catenaclearing/catena-actions/composite/lint-python@main
        with:
          machine_user_pat: ${{ secrets.MACHINE_USER_PAT }}

  test:
    name: Test
    runs-on: ubuntu-latest
    concurrency:
      group: test-${{ github.workflow }}-${{ github.actor }}-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Test
        uses: catenaclearing/catena-actions/composite/test-python@main
        with:
          machine_user_pat: ${{ secrets.MACHINE_USER_PAT }}

  checkov:
    name: Checkov
    runs-on: ubuntu-latest
    concurrency:
      group: checkov-${{ github.workflow }}-${{ github.actor }}-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v4

      - name: Checkov
        uses: catenaclearing/catena-actions/composite/checkov@main
        with:
          machine_user_pat: ${{ secrets.MACHINE_USER_PAT }}
